
---
group: Examples
title: ONS Surveys
layout: example/views/_master
---

{% from "components/access-code/_macro.njk" import onsUACInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}


{% set pageConfig = {
    "header": {
        "title": "ONS Surveys",
        "signoutButton": {
            "text": "Save and exit survey",
            "iconType": "exit",
            "iconPosition": "after",
            "url": "/prototypes/example/SaveExit1/ProgressSaved"
        },
        "language": {
            "languages": [
                {
                    "url": "#0",
                    "ISOCode": "en",
                    "text": "English",
                    "current": true
                },
                {
                    "url": "#0",
                    "ISOCode": "ga",
                    "text": "Help",
                    "current": false
                },
                {
                    "url": "#0",
                    "ISOCode": "ga",
                    "text": "My account",
                    "current": false
                },
                {
                    "url": "#0",
                    "ISOCode": "ga",
                    "text": "Sign out",
                    "current": false
                }
            ]
        }
    },
    "breadcrumbs": {
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "text": 'Previous',
                "url": '#0'
            }
        ]
    },

"footer": {
        "newTabWarning": 'The following links open in a new tab',"rows": [
            {
                "itemsList": [
                    {
                        "text": 'What we do',
                        "url": '#0'
                    },
                    {
                        "text": 'Contact us',
                        "url": '#0'
                    },
                    {
                        "text": 'Accessibility',
                        "url": '#0'
                    }
                ]
            }
        ],
        "legal": [
            {
                "itemsList": [
                    {
                        "text": 'Cookies',
                        "url": '#0'
                    },
                    {
                        "text": 'Privacy and data protection',
                        "url": '#0'
                    }
                ]
            }
        ]
    }
   
} %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "EnterUAC",
        "action": "#"
    }
} %}

{% block main %}

{% call onsQuestion({
    "title": "Have you successfully taken your swab sample?",
    "description": "If you are planning to take your sample but have not yet done so, please exit the questionnaire and return when you have taken it. This is because we will ask questions about your samples that help us to understand if you are eligible for a voucher.

",
    "classes": "ons-u-mt-no",
    "legendIsQuestionTitle": true
}) %}
    {{
        onsRadios({
            "name": "property-type",
            "dontWrap": true,
            "radios": [
                {
                    "id": "house",
                    "label": {
                        "text": "Yes"
                    },
                    "value": "house"
                },
                {
                    "id": "flat",
                    "label": {
                        "text": "No"
                    },
                    "value": "flat"
                }
            ]
        })
    }}
{% endcall %}

{{
    onsButton({
        "text": "Save and continue"
    })
}}



{% endblock %}

{% block bodyEnd %}

{% endblock %}