
---
group: Examples
title: ONS Surveys
layout: example/views/_master
---

{% from "components/access-code/_macro.njk" import onsUACInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}


{% set pageConfig = {
    "header": {
        "title": "ONS Surveys",
        "signoutButton": {
            "text": "Save and exit survey",
            "iconType": "exit",
            "iconPosition": "after",
            "url": "/prototypes/example/SaveExit1/ProgressSaved"
        },
        "language": {
            "languages": [
                {
                    "url": "#0",
                    "ISOCode": "en",
                    "text": "English",
                    "current": true
                },
                {
                    "url": "#0",
                    "ISOCode": "ga",
                    "text": "Help",
                    "current": false
                },
                {
                    "url": "#0",
                    "ISOCode": "ga",
                    "text": "My account",
                    "current": false
                },
                {
                    "url": "#0",
                    "ISOCode": "ga",
                    "text": "Sign out",
                    "current": false
                }
            ]
        }
    },
    "breadcrumbs": {
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "text": 'Previous',
                "url": '#0'
            }
        ]
    },

    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
   
} %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "EnterUAC",
        "action": "#"
    }
} %}

{% block main %}

{% call onsQuestion({
    "title": "Have you successfully taken your swab sample?",
    "description": "If you are planning to take your sample but have not yet done so, please exit the questionnaire and return when you have taken it. This is because we will ask questions about your samples that help us to understand if you are eligible for a voucher.

",
    "classes": "ons-u-mt-no",
    "legendIsQuestionTitle": true
}) %}
    {{
        onsRadios({
            "name": "property-type",
            "dontWrap": true,
            "radios": [
                {
                    "id": "house",
                    "label": {
                        "text": "Yes"
                    },
                    "value": "house"
                },
                {
                    "id": "flat",
                    "label": {
                        "text": "No"
                    },
                    "value": "flat"
                }
            ]
        })
    }}
{% endcall %}

{{
    onsButton({
        "text": "Save and continue"
    })
}}



{% endblock %}

{% block bodyEnd %}

{% endblock %}