---
group: Examples
title: Example prototype
layout: example/views/_master
---
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action": "#",
        "name": "EnterName"
    }
} %}

{% block main %}
    <h1>Select your industry</h1>


       {{onsRadios({
            "name": "property-type",
            "dontWrap": true,
            "radios": [
                {
                    "id": "Retail and wholesale",
                    "label": {
                        "text": "Retail and wholesale"
                    },
                    "value": "1"
                },
                {
                    "id": "Health and social care",
                    "label": {
                        "text": "Health and social care"
                    },
                    "value": "2"
                },
                {
                    "id": "mobile",
                    "label": {
                        "text": "Professional and technical"
                    },
                    "value": "3"
                },
                {
                    "id": "house",
                    "label": {
                        "text": "Admin and support"
                    },
                    "value": "4"
                },
                {
                    "id": "flat",
                    "label": {
                        "text": "Education"
                    },
                    "value": "5"
                },
                {
                    "id": "mobile",
                    "label": {
                        "text": "Manufacturing"
                    },
                    "value": "6"
                },
                {
                    "id": "house",
                    "label": {
                        "text": "Accommodation and food"
                    },
                    "value": "7"
                },
                {
                    "id": "flat",
                    "label": {
                        "text": "Construction"
                    },
                    "value": "8"
                },
                {
                    "id": "mobile",
                    "label": {
                        "text": "Transport"
                    },
                    "value": "9"
                },
                {
                    "id": "house",
                    "label": {
                        "text": "Public sector and defence"
                    },
                    "value": "10"
                },
                {
                    "id": "flat",
                    "label": {
                        "text": "IT and communications"
                    },
                    "value": "11"
                },
                {
                    "id": "mobile",
                    "label": {
                        "text": "Financial services"
                    },
                    "value": "12"
                },
                {
                    "id": "house",
                    "label": {
                        "text": "Arts, entertainment and recreation"
                    },
                    "value": "13"
                },
                {
                    "id": "flat",
                    "label": {
                        "text": "Other services"
                    },
                    "value": "14"
                },
                {
                    "id": "mobile",
                    "label": {
                        "text": "Real estate activities"
                    },
                    "value": "15"
                },
                {
                    "id": "flat",
                    "label": {
                        "text": "Utilities"
                    },
                    "value": "16"
                },
                {
                    "id": "mobile",
                    "label": {
                        "text": "Agriculture"
                    },
                    "value": "17"
                }
            ]
        })
    }}

    {{
        onsButton({
            "text": "Save and continue",
            "classes": "ons-u-mt-l"
        })
    }}
{% endblock %}
