
---
group: Examples
title: Example prototype
layout: example/views/_master
---

{% from "components/access-code/_macro.njk" import onsUACInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}

{% set pageConfig = {
    "header": {
        "title": "ONS Surveys"
    },
     "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "EnterUAC",
        "action":  pageInfo.rootPath + "/RHuac"
    }
} %}

{% block main %}
    <h1 class="ons-u-mt-l">Welcome to the COVID-19 Infection Survey</h1>
    <p>Thank you for taking part in this national survey.</p>
    <p>You should take your swab and/or blood samples before completing the questionnaire unless you are reporting a damaged kit. This is because we will ask questions about your samples that help us to understand if you are eligible for a voucher.
    </p>
    <h3>If you have taken your sample(s) or you need to report damaged / missing kit
    </h3>
    <p>Please proceed to the questionnaire. You will need your unique 16 character access code which can be found at the top of your testing window notification.
    </p>
    <p>We understand there can sometimes be postal delays, so it is possible your test kits could occasionally arrive a little later than planned. If you are near the end of your testing window and your kit has still not arrived, you can report this within the questionnaire.
    </p>
    <p>Unfortunately we are unable to send replacement test kits if this happens, but by reporting it, it will help us to improve things for you in future.
    </p>
    <h3>If you have not taken your sample(s) yet
    </h3>
    <p>Please exit this page and return after you have completed your samples. If you are not available to take part this month, you do not need to do anything. Please dispose of any unused sample kits in your household waste and we will contact you in advance of your next testing window.
    </p>


    {{ onsButton({
        "text": "Continue",
        "classes": "ons-u-mb-xl",
        "type": "submit"
    }) }}


{% endblock %}

