
---
group: Examples
title: Example prototype
layout: example/views/_master
---

{% extends "layout/_template.njk" %}
{% from "components/access-code/_macro.njk" import onsUACInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}

{% set pageConfig = {
    "header": {
        "title": "ONS Surveys",
        "language": {
            "languages": [
                {
                    "url": "#0",
                    "ISOCode": "en",
                    "text": "English",
                    "current": true
                },
                {
                    "url": "#0",
                    "ISOCode": "ga",
                    "text": "Cymraeg",
                    "current": false
                }
            ]
        }
    }
} %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "EnterUAC",
        "action": "#",
        "onsubmit": "return validateUAC()"
    }
} %}


{% block main %}
    {% call
        onsPanel({
            title: "There is a problem with this page",
            type: "error"
        })
    %}

        {% from "components/lists/_macro.njk" import onsList %}
        {{
            onsList({
                "element": "ol",
                "itemsList": [
                    {
                        "text": "Enter a valid access code",
                        "url": "#uac-error",
                        "variants": "inPageLink"
                    }
                ]
            })
        }}
    {% endcall %}

    <h1 class="ons-u-mt-l">Start study</h1>

    {{ onsUACInput({
        "id": "uac",
        "name": "uac",
        "postTextboxLinkText": "Where to find your access code",
        "postTextboxLinkUrl": "#0",
        "label": {
            "text": "Enter your 16-character access code",
            "description": "Keep this code safe. You will need to enter it every time you access your survey"
        },
        "securityMessage": "Your personal information is protected by law and will be kept confidential",
        "error": {
            "id": "uac-error",
            "text": "Enter a valid access code"
        }
    }) }}

    {{ onsButton({
        "text": "Access study",
        "classes": "ons-u-mb-xl"
    }) }}

    <h2>Where to find your access code</h2>
    <p>
        Your access code can be found in the invitation letter or email you received.
    </p>

    {% set content %}
        <p>Telephone: +44 800 085 7376 <br> 8am to 7pm Monday to Friday <br> 8am to 1pm Saturday</p>
        <p>Minicom (for the deaf and hearing impaired): 18001 +44 800 085 7376</p>
        <p>Email: <a href="#">surveyfeedback@ons.gov.uk</a> </p>

    {% endset %}

    {% call onsCollapsible({
            id: "collapsible",
            title: "Who can I contact for assistance or further information?",
            button: {
                "close": "Hide this",
                "contextSuffix": "content"
            }
        })
    %}
        {{ content | safe }}
    {% endcall %}
{% endblock %}



{% block bodyEnd %}
    <script>

        console.log('function executing');
        y = sessionStorage.getItem('invalidUAC');
        document.forms["EnterUAC"]["uac"].value = y;

        function validateUAC(){
            sessionStorage.removeItem('invalidUAC');
            let x = document.forms["EnterUAC"]["uac"].value;
            if(x == "RRSK NLDK ZDZG TFMQ"){
                document.forms["EnterUAC"].action = "https://author.eqbs.gcp.onsdigital.uk/launch/5e2d787c-931c-4a53-b696-30f08c054c4a";    
            }
            else if (x == "") {
                console.log('No UAC entered');
                document.forms["EnterUAC"].action = "/prototypes/example/RHNouac.html";
                sessionStorage.setItem('invalidUAC', x);    
            }
            else if((x !== "") && (x !== "RRSK NLDK ZDZG TFMQ")){
                document.forms["EnterUAC"].action = "/prototypes/example/RHIVuac.html";    
                sessionStorage.setItem('invalidUAC', x);    
            }

        }
    </script>
{% endblock %}