
---
group: Examples
title: ONS Surveys
layout: example/views/_master
---

{% from "components/access-code/_macro.njk" import onsUACInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}

{% set pageConfig = {
    "header": {
        "title": "ONS Surveys",
        "language": {
            "languages": [
                {
                    "url": "#0",
                    "ISOCode": "en",
                    "text": "English",
                    "current": true
                },
                {
                    "url": "#0",
                    "ISOCode": "ga",
                    "text": "Gaeilge",
                    "current": false
                },
                {
                    "url": "#0",
                    "ISOCode": "sco",
                    "text": "Ulstèr-Scotch",
                    "current": false
                }
            ]
        }
    },
     "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }

} %}
{% set form =  {
    "method": "GET",
    "attributes": {
        "name": "EnterUAC",
        "action": "#",
        "onsubmit": "return validateUAC()"
    }
} %}

{% block main %}
    <h1 class="ons-u-mt-l">Start study</h1>

    {{ onsUACInput({
        "id": "uac",
        "name": "uac",

        "label": {
            "text": "Enter your 16-character access code",
            "description": "Keep this code safe. You will need to enter it every time you access your study"
        },
        "securityMessage": "Your personal information is protected by law and will be kept confidential"
    }) }}

    {{ onsButton({
        "text": "Access study",
        "classes": "ons-u-mb-xl",
        "type": "submit"
    }) }}

    <h2>Where to find your access code</h2>
    <p>
        Your access code can be found in the invitation letter or email you received.
    </p>

    {% set content %}
        <p>Telephone: +44 800 085 7376 <br> 8am to 7pm Monday to Friday <br> 8am to 1pm Saturday</p>
        <p>Minicom (for the deaf and hearing impaired): 18001 +44 800 085 7376</p>
        <p>Email: <a href="#">surveyfeedback@ons.gov.uk</a> </p>

    {% endset %}

    {% call onsCollapsible({
            id: "collapsible",
            title: "Who can I contact for assistance or further information?",
            button: {
                "close": "Hide this",
                "contextSuffix": "content"
            }
        })
    %}
        {{ content | safe }}
    {% endcall %}
{% endblock %}

{% block bodyEnd %}
    <script>
        function validateUAC(){
            let x = document.forms["EnterUAC"]["uac"].value;
            if(x == "RRSK NLDK ZDZG TFMQ"){
                document.forms["EnterUAC"].action = "https://author.eqbs.gcp.onsdigital.uk/launch/5e2d787c-931c-4a53-b696-30f08c054c4a";    
            }
            else if (x == "") {
                console.log('No UAC entered');
                document.forms["EnterUAC"].action = "/prototypes/example/RHNouac.html";
                sessionStorage.setItem('invalidUAC', x);    
            }
            else if((x !== "") && (x !== "RRSK NLDK ZDZG TFMQ")){
                document.forms["EnterUAC"].action = "/prototypes/example/RHIVuac.html";    
                sessionStorage.setItem('invalidUAC', x);    
            }

        }
    </script>
{% endblock %}