{% from "components/lists/_macro.njk" import onsList %}

{% set pageConfig = { 
    "title": "ONS Research",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block head %}
    <style>
        a{
            box-sizing: border-box;
            margin-bottom: 15px;
            display:block;
        }

        .h4{
            padding-top:10px;
        }
    </style>
{% endblock %}

{% block main %}

<h2>Starting the survey</h2>
<a href="/prototypes/example/ONSSurvey.html">Landing page 1</a>
<a href="#">Landing page 2</a>
<a href="/prototypes/example/RHuac.html">RH leading to the survey</a>
<br><br>

<h2>Testing save and exit</h2>
<h4 class="h4">Exit point 1</h4>
<a href="/prototypes/example/SaveExit1/SaveAndExit.html">Save and exit - exit point 1</a>
<a href="#">RH for this journey</a>

<h4 class="h4">Exit point 2</h4>
<a href="/prototypes/example/SaveExit2/SaveAndExit.html">Save and exit - exit point 2</a>
<a href="#">RH for this journey</a>

<h4 class="h4">Exit point 3</h4>
<a href="/prototypes/example/SaveExit3/SaveAndExit.html">Save and exit - exit point 3</a>
<a href="#">RH for this journey</a>
<br><br>

<h2>Save and submit</h2>
<h4 class="h4">Exit point 1</h4>
<a href="#">Submit - exit point 1</a>

<h4 class="h4">Exit point 2</h4>
<a href="#">Submit - exit point 2</a>

<h4 class="h4">Exit point 3</h4>
<a href="#">Submit - exit point 3</a>
<br>

{% endblock %}


